@model HRMBT.Web.Models.Deduction

@{
    ViewData["Title"] = "Delete Deduction";
    ViewData["Module"] = "Payroll";
}

<h1>Delete Deduction</h1>

<h3>Are you sure you want to delete this deduction?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Id)</dd>
        
        <dt class="col-sm-2">Employee ID</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.EmployeeId)</dd>
        
        <dt class="col-sm-2">Deduction Type</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DeductionType)</dd>
        
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
        
        @if (Model.CalculationMethod == "Percentage" && Model.PercentageValue.HasValue)
        {
            <dt class="col-sm-2">Percentage</dt>
            <dd class="col-sm-10">@Model.PercentageValue.Value%</dd>
        }
        else if (Model.Amount.HasValue)
        {
            <dt class="col-sm-2">Amount</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Amount)</dd>
        }
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>




